<header>
  <div>
    <h2>
      {{model.title}} Commentary
    </h2>
    <small>
      {{model.commentaries[selectedCommentary].title}}
    </small>
  </div>
  <div>
    <jo-link
      title="Back to all Dialogues"
      link="/home"
    >
      Home
    </jo-link>
    <jo-link link="/{{model.safeTitle}}">
      Dialogue
    </jo-link>
    <jo-button
      title="Previous Translation"
      [isDisabled]="selectedCommentary === 0"
      [borderRadiusRight]="false"
      (onClick)="selectedCommentary = selectedCommentary - 1"
    >
      Prev
    </jo-button>
    <jo-button
      title="Next Translation"
      [isDisabled]="selectedCommentary === model.commentaries.length - 1"
      [borderRadiusLeft]="false"
      (onClick)="selectedCommentary = selectedCommentary + 1"
    >
      Next
    </jo-button>
  </div>
</header>