<header>
  <div>
    <h2>
      {{model.title}}
    </h2>
    <small>
      {{model.translations[selectedTranslation].translator}}
    </small>
  </div>
  <div>
    <jo-link
      title="Back to all Dialogues"
      link="/home"
    >
      Home
    </jo-link>
    <jo-link
      *ngIf="hasCommentary"
      link="/commentary/{{model.safeTitle}}"
    >
      Commentary
    </jo-link>
    <ng-container *ngIf="model.translations.length > 1">
      <jo-button
        title="Previous Translation"
        [isDisabled]="selectedTranslation === 0"
        [borderRadiusRight]="false"
        (onClick)="selectedTranslation = selectedTranslation - 1"
      >
        Prev
      </jo-button>
      <jo-button
        title="Next Translation"
        [isDisabled]="selectedTranslation === model.translations.length - 1"
        [borderRadiusLeft]="false"
        (onClick)="selectedTranslation = selectedTranslation + 1"
      >
        Next
      </jo-button>
    </ng-container>
  </div>
</header>

<div class="translation-container">
  <article
    *ngFor="let translation of model.translations; let translationIndex = index"
    [hidden]="selectedTranslation !== translationIndex"
  >
    <section *ngFor="let turn of translation.turns; let turnIndex = index">
      <span
        *ngIf="turn.character"
        [class.highlight]="turnIndex === selectedTurn"
      >
        <b>{{turn.character.toUpperCase()}}:</b>
      </span>
      <span
        *ngFor="let phrase of turn.speech; let phraseIndex = index"
        [class.highlight]="turnIndex === selectedTurn && phraseIndex === selectedPhrase"
        id="{{model.safeTitle}}-{{phraseIndex}}-{{turnIndex}}-{{translationIndex}}"
        (click)="onClickPhrase(phraseIndex, turnIndex)"
      >
        {{phrase}}
      </span>
    </section>
  </article>
</div>
