<header>
  <div>
    <h2>
      {{model.title}}
    </h2>
    <small>
      {{model.translations[selectedTranslation].translator}}
    </small>
  </div>
  <div>
    <jo-link
      title="Back to Dialogues"
      link="/home"
    >
      Back
    </jo-link>
    <jo-button
      title="Previous Translation"
      [isDisabled]="selectedTranslation === 0"
      [borderRadiusRight]="false"
      (onClick)="selectedTranslation = selectedTranslation - 1"
    >
      Prev
    </jo-button>
    <jo-button
      title="Next Translation"
      [isDisabled]="selectedTranslation === model.translations.length - 1"
      [borderRadiusLeft]="false"
      (onClick)="selectedTranslation = selectedTranslation + 1"
    >
      Next
    </jo-button>
  </div>
</header>

<div class="translation-container">
  <article
    *ngFor="let translation of model.translations; let translationIndex = index"
    [hidden]="selectedTranslation !== translationIndex"
  >
    <section *ngFor="let turn of translation.turns; let turnIndex = index">
      <span [class.highlight]="turnIndex === selectedTurn">
        <i><b>{{turn.character}}.</b></i>
      </span>
      <span
        *ngFor="let phrase of turn.speech; let phraseIndex = index"
        [class.highlight]="turnIndex === selectedTurn && phraseIndex === selectedPhrase"
        id="{{model.safeTitle}}-{{phraseIndex}}-{{turnIndex}}-{{translationIndex}}"
        (click)="onClickPhrase(phraseIndex, turnIndex)"
      >
        {{phrase}}
      </span>
    </section>
  </article>
</div>