<header>
  <h2>
    {{model.title}}
  </h2>
  <div>
    <a
      title="Back to Dialogues"
      routerLink="/home"
    >
      Back
    </a>
    <button
      title="Previous Translation"
      [disabled]="selectedTranslation === 0"
      (click)="selectedTranslation = selectedTranslation - 1"
    >
      Prev
    </button>
    <button
      title="Next Translation"
      [disabled]="selectedTranslation === model.translations.length - 1"
      (click)="selectedTranslation = selectedTranslation + 1"
    >
      Next
    </button>
  </div>
</header>

<div class="translation-container">
  <article
    *ngFor="let translation of model.translations; let translationIndex = index"
    [hidden]="selectedTranslation !== translationIndex"
  >
    <section *ngFor="let turn of translation; let turnIndex = index">
      <span [class.highlight]="turnIndex === selectedTurn">
        <i><b>{{turn.character}}.</b></i>
      </span>
      <span
        *ngFor="let phrase of turn.speech; let phraseIndex = index"
        [class.highlight]="turnIndex === selectedTurn && phraseIndex === selectedPhrase"
      >
        {{phrase}}
      </span>
    </section>
  </article>
</div>
