/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial;
  line-height: 1.5;
  background-color: black;
  color: white;
}

.highlight {
  color: yellowgreen;
}
