/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial;
  font-size: large;
  line-height: calc(1ex / 0.32);
  line-height: 1.5;
  background-color: black;
  color: white;

  @supports (font-size-adjust: 1) {
    font-size-adjust: 0.5;
  }
}

.highlight {
  color: yellowgreen;
}
