:host {
  max-width: 700px;
  margin: 0 auto;
  display: block;

  > section {
    margin-top: 2em;
  }
}

h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }

  jo-link {
    display: flex;
    justify-content: center;

    div.container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      > div {
        display: flex;
      }

      > ul {
        text-align: right;
        display: flex;
        flex-direction: column;
        line-height: 1.25em;
      }
    }

    span {
      margin-right: 0.25em;
      font-size: 3em;
      opacity: 0.25;
    }
  }
}
