ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;

  > li {
    border: 1px solid currentColor;

    > a {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}
