<section>
  <h2>
    Dialogues
  </h2>
  <nav>
    <ul>
      <li *ngFor="let dialogue of dialogues">
        <jo-link link="/dialogue/{{dialogue.safeTitle}}">
          <div class="container">
            <div>
              <h3>
                {{dialogue.title}}
              </h3>
            </div>
            <small>
              {{dialogue.translations.length}} translation{{dialogue.translations.length === 1 ? '' : 's'}}
            </small>
          </div>
        </jo-link>
      </li>
    </ul>
  </nav>
</section>
<!-- <section>
  <jo-text
    [(ngModel)]="searchText"
    placeholder="Enter 3 or more characters..."
  >
    Search Dialogues
  </jo-text>
</section> -->
